* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-image: url(https://live.staticflickr.com/738/23477921159_0298bd56fa_k.jpg);
    min-height: 100%;  
}
.contenedor > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.contenedor {
    display: grid;
    gap: 10px;
    grid-template: 
        "header" 150px
        "navbar" 60px
        "sidebar" 140px
        "sidebar2" 110px
        "main" auto
        "footer" 100px;
}

.header {
    background-color: rgba(255, 136, 0, 0.326);
    grid-area: header;
}

.navbar {
    background-color: rgba(57, 57, 57, 0.449);
    grid-area: navbar;
}

.sidebar {
    background-color: rgba(210, 105, 30, 0.279);
    grid-area: sidebar;
}
.sidebar2 {
    background-color: rgba(210, 105, 30, 0.279);
    grid-area: sidebar2;
}

.main {
    font-size: large;
    border-style: double;
    border-width: 10px;
    border-color: rgb(181, 81, 0);
    grid-area: main;
}

.footer {
    background-color: rgba(47, 47, 47, 0.714);
    grid-area: footer;
}

.botones{
    cursor: pointer;
    width: 120px;
    height: 35px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: rgb(255, 94, 0);
}

.pizzas{
    border-radius: 20px;
    width: 150px; 
    height: 150px;
    padding-top: 2px;
}

.fuente{
    font-size: small;
    font-family: Cambria; 
    text-align: left; 
    color: white;
}

@media (min-width: 900px){
    .contenedor{
        grid-template: 
        "header header" 150px
        "navbar navbar" 60px
        "sidebar main" 200px
        "sidebar2 main" auto
        "footer footer" 100px /
        300px auto;
    }
    .main {
        font-size: xx-large;
    }

    .sidebar {
        padding-top: 12%;
    }

    .sidebar2 {
        padding-top: 20%;
    }

    .pizzas{
        border-radius: 20px;
        width: 300px; 
        height: 300px;
        padding-top: 2px;
    }
    
    .fuente{
        font-size: small;
        font-family: Cambria; 
        text-align: left; 
        color: white;
    }
}
